
.empty-image {
  max-width: 50%;
  max-height: 50%;
}

.delete-button {
  cursor: pointer;
}

.mat-ink-bar{
  background-color: #56c6a7;
}


.example-list {
  max-width: 100%;
  min-height: 60px;
  display: block;
  overflow: hidden;
}

.example-box {
  margin-bottom: 3px;
  padding: 15px 10px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 16px;
  border-left: solid 5px grey;
}

.example-box:hover {
  border: solid 1px #3f51b5;
  border-left: solid 5px grey;
  box-shadow: 5px 10px 5px -3px rgba(0, 0, 0, 0.2),
    8px 12px 10px 1px rgba(0, 0, 0, 0.14), 3px 8px 14px 2px rgba(0, 0, 0, 0.12);
}

.taskText{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskOptionList{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Priority */
.low-priority {
  background-color: #7FB3D5;
  margin-right: 20px;
  font-size: 14px;
}

.medium-priority {
  background-color: orange;
  margin-right: 20px;
  font-size: 14px;
}

.high-priority {
  background-color:#F7DC6F;
  margin-right: 20px;
  font-size: 14px;
}

.critical-priority {
  background-color: #E74C3C;
  margin-right: 20px;
  font-size: 14px;
}

/* Status */

.draft-status{
  background-color: #95A5A6;
  font-size: 14px;
  margin-right: 20px;
}

.wip-status{
  background-color: #0099ff;
  font-size: 14px;
  margin-right: 20px;
}

.done-status{
  background-color: #58D68D;
  font-size: 14px;
  margin-right: 20px;
}

.stuck-status{
  background-color: red;
  font-size: 14px;
  margin-right: 20px;
}

.hold-status{
  background-color: #666699;
  font-size: 14px;
  margin-right: 20px;
}

.dueDate{
  margin-right: 20px;
  font-size: 14px;
}

.edit{
  margin-right: 10px;
  border: solid 0.5px #3f51b5;
  border-radius: 4px;
  cursor: pointer;
}

.delete{
  border: solid 0.5px #3f51b5;
  border-radius: 4px;
  cursor: pointer;
}

.push {
  margin-left: auto;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
